<mat-card class="example-card" [ngStyle]="post.status === 'DECLINED' ? {'background-color':'orange'} : {'background-color': 'white'}">
  <mat-card-header style="display: flex; flex-direction: row; align-items: center">
    <div mat-card-avatar class="example-header-image">
      <div alt="Avatar" class="profile-avatar">{{post.author}}</div>
    </div>
    <mat-card-title style="margin-bottom: 0" *ngIf="post.author">@{{post.authorNickname}}</mat-card-title>
  </mat-card-header>
  <mat-card-content style="margin-top: 20px">
      {{post.text}}
  </mat-card-content>
  <mat-card-actions>
    <button
      *ngIf="showLike && authService.isAuthenticated()"
      (click)="toggleLike(post)"
      [class.active]="showLike && post.isLiked"
      aria-label="Example icon button with a heart icon"
      class="favourite-icon"
      color="warn"
      mat-icon-button

    >
      <mat-icon>favorite</mat-icon>
    </button>
    <button *ngIf="showShare && authService.isAuthenticated()" mat-button>SHARE</button>
    <button (click)="deletePost(post.id)" *ngIf="showDelete" class="right-corner-button" mat-button><mat-icon>delete</mat-icon></button>
    <mat-icon *ngIf="window.location.href !== 'http://localhost:4200/admin' && post.status === 'MODERATION'" style="position:absolute; bottom: 12px; right: 20px" matTooltip="MODERATION">schedule</mat-icon>
    <mat-icon (click)="approve(post.id)" *ngIf="showApprove">check_circle_outline</mat-icon>
    <mat-icon (click)="decline(post.id)" *ngIf="showDecline" style="position:absolute; bottom: 12px; right: 20px">highlight_off</mat-icon>
  </mat-card-actions>
</mat-card>
