<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image">
      <div alt="Avatar" class="profile-avatar">{{authService.getLocalUser().firstName.charAt(0)}}</div>
    </div>
    <mat-card-title *ngIf="post.author">{{post.author}}</mat-card-title>
  </mat-card-header>
  <mat-card-content style="margin-top: 20px">
      {{post.text}}
  </mat-card-content>
  <mat-card-actions>
    <button
      *ngIf="showLike && authService.isAuthenticated()"
      (click)="toggleLike(post)"
      [class.active]="showLike && post.isLiked"
      aria-label="Example icon button with a heart icon"
      class="favourite-icon"
      color="warn"
      mat-icon-button

    >
      <mat-icon>favorite</mat-icon>
    </button>
    <button *ngIf="showShare && authService.isAuthenticated()" mat-button>SHARE</button>
    <button (click)="deletePost(post.id)" *ngIf="showDelete" class="right-corner-button" mat-button><mat-icon>delete</mat-icon></button>
  </mat-card-actions>
</mat-card>
