<div class="container">
  <div class="tile">
    <div class="tile-content">
      <div class="profile-info">
        <div alt="Avatar" class="profile-avatar">AM</div>
        <div class="profile-name">Ad Min</div>
      </div>
      <button class="right-corner-button" mat-icon-button>
        <mat-icon>edit</mat-icon>
      </button>
    </div>
    <div class="tile-content">
      <mat-list style="cursor: pointer">
        <mat-list-item routerLink="/home">
          <mat-icon>language</mat-icon>
          Feed
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item *ngIf="authenticationService.isAdmin()" routerLink="/admin">
          <mat-icon>fact_check</mat-icon>
          Moderating posts
        </mat-list-item>
        <mat-divider></mat-divider>
      </mat-list>
    </div>
    <h2>My posts</h2>
    <form (ngSubmit)="post()" [formGroup]="postForm" class="post-area-content">
      <mat-form-field class="post-text-area">
        <mat-label>Peep new post</mat-label>
        <textarea formControlName="content" cdkTextareaAutosize matInput
                  placeholder="Ex. It makes me feel..."></textarea>
      </mat-form-field>
      <button mat-flat-button color="primary">Post</button>
    </form>
    <app-post *ngFor="let post of posts" [post]="post"
              [showLike]="false"
              [showShare]="false"
              [showDelete]="true"
    ></app-post>
  </div>
</div>
