<div class="container">
  <mat-grid-list cols="6" rowHeight="270px" gutterSize="20px">
    <mat-grid-tile [colspan]="2" [rowspan]="1">
      <div class="profile-info">
        <div alt="Avatar" class="profile-avatar">AM</div>
        <div class="profile-name">Ad Min</div>
      </div>
      <button aria-label="Example icon button with a vertical three dot icon" mat-icon-button>
        <mat-icon>edit</mat-icon>
      </button>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="4" [rowspan]="3">
      <h1>Bte</h1>
    </mat-grid-tile>
  </mat-grid-list>
</div>
